<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.dao.MusicDao">

    <!--查询评论-->
    <select id="queryInfo" resultType="musicComment">
        SELECT *
        FROM music_Comment
        WHERE music_id=#{musicId}
    </select>

    <!--查询文章-->
    <select id="queryMusic" resultType="music">
        SELECT *
        FROM music
        WHERE user_name=#{userName}
    </select>

    <!--获取音乐信息-->
    <select id="queryMusicInfo" resultType="musicInfo">
        SELECT *
        FROM music_info
        WHERE music_id=#{musicId}
    </select>
</mapper>